<!-- <div class="jumbotron">
  <h1>Tablica</h1>
  <p>Portal ogłoszeń lokalnych. Dodawaj i przeglądaj ogłoszenia za darmo, bez ograniczeń!</p>
  <p><%= link_to "Załóż konto", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
</div> -->

<% @ads.each_with_index do |f, i| %>
	<%= (i+1).to_s + ". " + f.title %>
	<%= f.price %>
<% end %>